---
import { Picture } from 'astro:assets'

interface Props {
  src: string
  fullSrc: string
  width: number
  height: number
  fullWidth: number
  fullHeight: number
  alt: string
  index?: number
  class?: string
}

const { src, fullSrc, width, height, fullWidth, fullHeight, alt, index = 0, class: className } = Astro.props
const maxDelay = Math.min(index * 100, 800)
---

<div
  class={`relative opacity-0 js-scroll-fade-up rounded-lg overflow-hidden shadow-xl vintage-vignette group ${className}`}
  style={`transition-delay: ${maxDelay}ms`}
>
  <a
    href={fullSrc}
    data-pswp-width={fullWidth}
    data-pswp-height={fullHeight}
    target="_blank"
    class="block w-full h-full"
  >
    <Picture
      src={src}
      alt={alt}
      class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
      width={width}
      height={height}
      formats={['avif', 'webp', 'jpeg']}
    />
  </a>
</div>
