---
import { getWPPageBySlug, getWPPosts } from '@/lib/wp';
import ListPosts from '@/components/post/ListPosts.astro';
import Layout from '@/layouts/Layout.astro';

const data = await getWPPageBySlug('blog');
const posts = await getWPPosts();

if (!data) {
  return Astro.redirect('/404');
}

const title = data.title.rendered
const subtitle = data.acf.subtitle
const bgImage = data.featured_images?.full.url!
const content = data.content.rendered
---

<Layout
  title={title}
  subtitle={subtitle}
  bgImage={bgImage}
>
	<div class="text-xl text-coffee-800 space-y-3 mt-10 lg:mt-0 opacity-0 js-scroll-fade-up" set:html={content}></div>
    <ListPosts title='Todos los post del blog' posts={posts}/>
</Layout>

<script>
    import { setupIntersectionObserver } from '@/lib/animations';
    document.addEventListener('astro:page-load', () => {
        setupIntersectionObserver();
    });
    setupIntersectionObserver();
</script>
