---
import { getBlogPage, getAllPosts } from '@/blog/infrastructure/blog.repository'
import ListPosts from '@/blog/ui/ListPosts.astro'
import Layout from '@/layouts/Layout.astro'

const blog = await getBlogPage()
const posts = await getAllPosts()

if (!blog) {
  return Astro.redirect('/404')
}
---

<Layout
  title={blog.title}
  subtitle={blog.subtitle}
  bgImage={blog.backgroundImage}
>
  <div class="text-xl text-coffee-800 space-y-3 mt-10 lg:mt-0 opacity-0 js-scroll-fade-up" set:html={blog.content}></div>
  <ListPosts title="Todos los post del blog" posts={posts} />
</Layout>

<script>
  import { setupScrollReveal } from '@/shared/application/scroll-reveal.service'

  let destroy: (() => void) | undefined

  function init() {
    destroy?.()
    destroy = setupScrollReveal()
  }

  document.addEventListener('astro:page-load', init)
  init()
</script>
