---
import { getWPPageBySlug } from '@/lib/wp';
import Layout from '@/layouts/Layout.astro';

const data = await getWPPageBySlug('menu');

if (!data) {
  return Astro.redirect('/404');
}

const title = data.title.rendered
const subtitle = data.acf.subtitle
const bgImage = data.featured_images?.full.url!
---

<Layout
  title={title}
  subtitle={subtitle}
  bgImage={bgImage}
>
	<h1 class="text-4xl font-black text-coffee-500">{title}</h1>
	<h2>{subtitle}</h2>
</Layout>
