---
import Layout from '@/layouts/Layout.astro'
import { getProcessPage } from '@/process/infrastructure/process.repository'
import { inferRemoteSize, Picture } from 'astro:assets'

const process = await getProcessPage()

if (!process) {
  return Astro.redirect('/404')
}
---

<Layout
  title={process.title}
  subtitle={process.subtitle}
  bgImage={process.backgroundImage}
>
  <div class="opacity-0 text-xl text-coffee-800 space-y-3 mt-10 lg:mt-0 js-scroll-fade-right contenido-proceso" set:html={process.content}></div>
  <section class="mt-10 space-y-10">
    {process.steps.map(async (step, i) => {
      const { width, height } = await inferRemoteSize(step.imageUrl)
      return (
        <article class="flex flex-col lg:flex-row lg:items-center gap-10 bg-coffee-100 p-4 lg:p-10 rounded-lg shadow-2xl">
          <div class={`w-full lg:w-1/2 ${i % 2 === 0 ? 'lg:order-1' : 'lg:order-2'} opacity-0 js-scroll-fade-left`}>
            <Picture
              src={step.imageUrl}
              alt={`Imagen del proceso ${step.title}`}
              width={width}
              height={height}
              class="w-full h-auto rounded-lg object-cover shadow-2xl js-scroll-tilt"
              formats={['avif', 'webp', 'jpeg']}
            />
          </div>
          <header class={`w-full lg:w-1/2 ${i % 2 === 0 ? 'lg:order-2' : 'lg:order-1'} opacity-0 js-scroll-fade-right`}>
            <h3 class="text-coffee-900 font-black text-4xl pb-10 uppercase">{step.title}</h3>
            <p class="text-lg text-coffee-700">{step.description}</p>
          </header>
        </article>
      )
    })}
  </section>
</Layout>

<script>
  import { setupScrollReveal } from '@/shared/application/scroll-reveal.service'

  let destroy: (() => void) | undefined

  function init() {
    destroy?.()
    destroy = setupScrollReveal()
  }

  document.addEventListener('astro:page-load', init)
  init()
</script>
