---
import type { Post } from '@/types'
import { Picture } from 'astro:assets';
import { formatDate } from '@/lib/formatter';
import MetaPost from './MetaPost.astro';
import CategoryPost from './CategoryPost.astro';
import ImagePost from './ImagePost.astro';

interface Props {
    post: Post
}
const { post } = Astro.props;

---
<article class="grid grid-cols-1 lg:grid-cols-3 gap-5 bg-white p-5 rounded-lg shadow-2xl">
    <header class="lg:col-span-2 space-y-3">
        <h3 class="text-2xl font-bold text-coffee-900">
            <a href={`/blog/${post.slug}`}>{post.title.rendered}</a>
        </h3>
        <MetaPost post={post} />
       <CategoryPost post={post} />
        <div class="text-coffee-700 line-clamp-2" set:html={post.excerpt.rendered}></div>
    </header>
    <div class="lg:col-span-1">
        {
            post.featured_images && (
                <a href={`/blog/${post.slug}`} class="block overflow-hidden rounded-lg group">
                    <ImagePost post={post} />
                </a>
            )
        }
    </div>
</article>